In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, roc_auc_score, precision_recall_curve, precision_score, accuracy_score
from sklearn.metrics import recall_score, classification_report, f1_score, roc_curve, auc

In [13]:
data = pd.read_csv('titanic_clean.csv')
df = data.copy()

In [14]:
df.shape

(891, 9)

In [15]:
df.head()

,Survived,Passenger_Class,Gender,Age,Sib_Sp,Par_ch,Fare,Embarked,Title
0,0,3,1,22.0,1,0,7.2500,2,2
1,1,1,0,38.0,1,0,71.2833,0,3
2,1,3,0,26.0,0,0,7.9250,2,1
3,1,1,0,35.0,1,0,53.1000,2,3
4,0,3,1,35.0,0,0,8.0500,2,2

In [16]:
X = df.drop('Survived', axis=1)
Y = df['Survived']

In [17]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.3)
print(xtrain.shape, ytrain.shape)
print(xtest.shape, ytest.shape)

(623, 8) (623,)
(268, 8) (268,)

In [18]:
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()

In [20]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(xtrain,ytrain)

GaussianNB(priors=None)

In [22]:
xtest

,Passenger_Class,Gender,Age,Sib_Sp,Par_ch,Fare,Embarked,Title
100,3,0,28.000000,0,0,7.8958,2,1
494,3,1,21.000000,0,0,8.0500,2,2
122,2,1,32.500000,1,0,30.0708,0,2
399,2,0,28.000000,0,0,12.6500,2,3
652,3,1,21.000000,0,0,8.4333,2,2
834,3,1,18.000000,0,0,8.3000,2,2
495,3,1,29.699118,0,0,14.4583,0,2
150,2,1,51.000000,0,0,12.5250,2,4
273,1,1,37.000000,0,1,29.7000,0,2
880,2,0,25.000000,0,1,26.0000,2,3
688,3,1,18.000000,0,0,7.7958,2,2
126,3,1,29.699118,0,0,7.7500,1,2
787,3,1,8.000000,4,1,29.1250,1,0
172,3,0,1.000000,1,1,11.1333,2,1
332,1,1,38.000000,0,1,153.4625,2,2
595,3,1,36.000000,1,1,24.1500,2,2
189,3,1,36.000000,0,0,7.8958,2,2
335,3,1,29.699118,0,0,7.8958,2,2
159,3,1,29.699118,8,2,69.5500,2,0
816,3,0,23.000000,0,0,7.9250,2,1
789,1,1,46.000000,0,0,79.2000,0,2
542,3,0,11.000000,4,2,31.2750,2,1
103,3,1,33.000000,0,0,8.6542,2,2
57,3,1,28.500000,0,0,7.2292,0,2
411,3,1,29.699118,0,0,6.8583,1,2
855,3,0,18.000000,0,1,9.3500,2,3
503,3,0,37.000000,0,0,9.5875,2,1
854,2,0,44.000000,1,0,26.0000,2,3
583,1,1,36.000000,0,0,40.1250,0,2
801,2,0,31.000000,1,1,26.2500,2,3
...,...,...,...,...,...,...,...,...
453,1,1,49.000000,1,0,89.1042,0,2
176,3,1,29.699118,3,1,25.4667,2,0
204,3,1,18.000000,0,0,8.0500,2,2
579,3,1,32.000000,0,0,7.9250,2,2
23,1,1,28.000000,0,0,35.5000,2,2
499,3,1,24.000000,0,0,7.7958,2,2
760,3,1,29.699118,0,0,14.5000,2,2
527,1,1,29.699118,0,0,221.7792,2,2
327,2,0,36.000000,0,0,13.0000,2,3
689,1,0,15.000000,0,1,211.3375,2,1
663,3,1,36.000000,0,0,7.4958,2,2
572,1,1,36.000000,0,0,26.3875,2,2
42,3,1,29.699118,0,0,7.8958,0,2
71,3,0,16.000000,5,2,46.9000,2,1
686,3,1,14.000000,4,1,39.6875,2,2
798,3,1,30.000000,0,0,7.2292,0,2
775,3,1,18.000000,0,0,7.7500,2,2
279,3,0,35.000000,1,1,20.2500,2,3
319,1,0,40.000000,1,1,134.5000,0,3
205,3,0,2.000000,0,1,10.4625,2,1
58,2,0,5.000000,1,2,27.7500,2,1
462,1,1,47.000000,0,0,38.5000,2,2
446,2,0,13.000000,0,1,19.5000,2,1
555,1,1,62.000000,0,0,26.5500,2,2
761,3,1,41.000000,0,0,7.1250,2,2
452,1,1,30.000000,0,0,27.7500,0,2
210,3,1,24.000000,0,0,7.0500,2,2
443,2,0,28.000000,0,0,13.0000,2,1
260,3,1,29.699118,0,0,7.7500,1,2
833,3,1,23.000000,0,0,7.8542,2,2

In [21]:
#Predict Output
predictedLabel = model.predict(xtest) 
print ("Predicted Value:", predictedLabel)

Predicted Value: [1 0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 1 1 1 1 1 1 1 1 0 0 1 0
 1 0 0 0 0 0 0 1 0 1 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1 1 0 0 1 0 0 1 1 0 0 1 0
 1 1 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 1 0 0 1 1 0 0 0 1 0 0 1 0 1 0 0 1 0 1 0
 0 1 1 0 1 1 0 1 1 1 1 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 1
 1 0 1 1 1 0 0 0 0 0 1 0 1 0 0 1 1 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 0 1 0
 1 0 1 1 0 1 0 0 0 1 1 0 0 0 1 0 1 1 0 0 1 0 0 1 1 0 0 0 1 1 0 0 1 0 0 0 1
 0 1 1 0 0 0 1 1 0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 1 1 1
 0 1 0 0 1 0 1 0 0]

In [23]:
from sklearn import metrics  
  
# Model Accuracy, how often is the classifier correct?  
print("Accuracy:",metrics.accuracy_score(ytest, predictedLabel))

Accuracy: 0.7910447761194029